* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-one: #362FD9;
  --color-two: #1AACAC;
  --color-three: #2E97A7;
  --color-four: #EEEEEE;
}

h1 {
  color: white;
  font-size: 1.3em;
}

header {
  background-color: var(--color-one);
  padding: 1rem 3rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--color-four);
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 3rem 20%;
  margin: auto;
  gap: 1.5rem;
  max-width: 992px;
}

.body-container .filterssection-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.body-container .productssection-container {
  grid-column-start: 2;
  grid-column-end: 4;
}

.body-container input[type="checkbox"] {
  accent-color: var(--color-two);
}

@media screen and (max-width: 992px) {
  .body-container {
    display: flex; 
    flex-direction: column;
    padding: 3rem 10%;
  }
}

@media screen and (max-width: 1200px) {
  .body-container {
    padding: 3rem 10%;
  }
}