@keyframes slidein {
  0%   {transform: translateX(-25%);}
  25%  {transform: translateX(-50%);}
  50%  {transform: translateX(-75%);}
  100% {transform: translateX(-100%);}
}

.cart-popup-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 3;
  background-color: white;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border-left: solid 1px gray;
  transition: 0.5s;
}

.cart-popup-active {
  width: 22rem;
}

.cart-popup-right > .cart-popup-header {
  background-color: var(--color-one);
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
}

.cart-popup-right > .cart-popup-body {
  flex: 1 1 auto;
  padding: 0 0.5rem;
}

.cart-popup-right > .cart-popup-footer {
  flex: 0 1 3.5rem;
}

.cart-popup-right > .cart-popup-footer .checkout-btn {
  width: 100%;
  height: 3rem;
  background-color: var(--color-two);
  color: var(--color-five);
  transition: 0.5s;
}

.cart-popup-right > .cart-popup-footer .checkout-btn:hover {
  background-color: var(--color-three);
  color: black;
}

.cart-popup-right > .cart-popup-header h3 {
  font-size: 1.5rem;
  color: var(--color-five);
}

.cart-popup-right > .cart-popup-header .close-popup svg {
  width: 100%;
  height: 100%;
  color: var(--color-five);
}

.cart-popup-right > .cart-popup-header .close-popup svg:hover {
  color: gray;
}

.cart-popup-right > .cart-popup-header .close-popup svg:active {
  color: red;
  transform: scale(1.5);
}

.cart-popup-right > .cart-popup-header, .cart-popup-body, .cart-popup-footer {
  min-width: 20rem;
}
