.filterssection-container {
  width: 100%;
  border: 1px var(--color-four) solid;
  padding: 0.5rem;
  height: fit-content;
}

.filterssection-container h3 {
  margin-bottom: 0.2rem;
}

.filterssection-container .filter-checkbox {
  margin: 0.5em 1em;
}