.productssection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.productssection-container .product-title, .product-price, .addtocart-btn {
  margin: 6px 0;
}

.productssection-container .addtocart-btn {
  padding: 0.3rem 0.5rem;
}

.productssection-container .addtocart-btn:hover {
  background-color: rgb(173, 173, 173);
}

@media screen and (max-width: 992px) {
  .productssection-container {
    display: flex; 
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}