
.productsection-container .product-img-container {
  background-color: white;
  text-align: center;
  padding: 1rem;
}

.productsection-container .product-img-container > img {
  width: auto;
  max-height: 100px;
}

@media screen and (max-width: 992px) {
  .productsection-container {
    display: flex; 
    height: 200px;
    border-bottom: 1px solid var(--color-four);
  }

  .productsection-container .product-img-container > img {
    max-width: 100px;
    max-height: none;
    height: auto;
  }
}