
.productsection-container .product-img-container {
  background-color: white;
  text-align: center;
  padding: 1rem;
}

.productsection-container .product-img-container > img {
  max-width: auto;
  height: 100px;
}