.productssection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.productssection-container > h2 {
  color: rgb(189, 189, 189);
  text-align: center;
}

.productssection-container .product-title, .product-price, .addtocart-btn {
  margin: 6px 0;
}

.productssection-container .addtocart-btn {
  padding: 0.3rem 0.5rem;
  background-color: var(--color-two);
  color: white;
  min-width: 130px;
  transition: 0.5s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productssection-container .addtocart-btn:hover {
  background-color: var(--color-three);
  color: black;
}

@media screen and (max-width: 992px) {
  .productssection-container {
    display: flex; 
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}