.search-bar {
  width: 100%;
}

.search-bar form {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.search-bar input[type="search"] {
  padding: 0.5em 1em;
  padding-right: 4rem; 
  outline: 0;
  border: 2px solid white;
  border-radius: 2rem;
  width: 100%;
  max-width: 500px;
}

.search-bar input[type="search"]:focus {
  border: 2px solid var(--color-two);
}

.search-bar .search-bar-btn:hover {
  background-color: var(--color-three);
  cursor: pointer;
}

.search-bar .search-bar-btn {
  position: absolute;
  right: 0;
  padding: 0 1.5rem;
  background-color: var(--color-two);
  border: none;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  transform: translate(1px);
}