.search-bar form {
  text-align: center;
  width: 100%;
}

.search-bar input {
  padding: 0.5em 1em;
  outline: 0;
  border: 2px solid white;
  border-radius: 2rem;
  width: 100%;
  max-width: 500px;
}

.search-bar input:focus {
  border: 2px solid #1AACAC;
}

.search-bar .search-btn:hover {
  background-color: #1a9b9b;
  cursor: pointer;
}

.search-bar .search-btn {
  padding: 0.5em;
  background-color: #1AACAC;
  border: none;
  margin-left: 2px;
}